body
{
font-family: Arial;
margin:0;
}
.logo-area
{
display:flex;
align-items:center;
gap:12px;
}
.logo-area img
{
height:60px;
width:auto;
}
header
{
background:#0A2A66;
color:white;
padding:12px 40px;
display:flex;
justify-content:space-between;
align-items:center;
}

nav a
{
color:white;
text-decoration:none;
font-weight:600;
padding:8px 12px;
border-radius:4px;
}

nav a:hover
{
background:#1E4DB7;
}
.stats
{
display:flex;
justify-content:center;
gap:40px;
padding:60px;
background:#E8F1FF;
flex-wrap:wrap;
}

.box
{
background:white;
padding:25px;
width:180px;
text-align:center;
border-radius:10px;
box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

.box h3
{
font-size:36px;
color:#1E4DB7;
}
.hero
{
height:420px;

background:
linear-gradient(
rgba(10,42,102,0.75),
rgba(30,77,183,0.65)
),
url("images/School-Building.jpeg");

background-size:cover;
background-position:center;

display:flex;
align-items:center;
justify-content:center;

color:white;
text-align:center;
padding:40px;
}
.hero-text h2
{
font-size:42px;
margin-bottom:10px;
}

.hero-text p
{
font-size:18px;
opacity:0.95;
}
.notice
{
background:#E8F1FF;
border-left:6px solid #1E4DB7;
padding:15px;
text-align:center;
font-weight:600;
}

.box
{
background:white;
border:2px solid #E8F1FF;
padding:20px;
width:160px;
text-align:center;
border-radius:8px;
box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

.box h3
{
color:#1E4DB7;
}
.box
{
background:#eee;
padding:20px;
width:150px;
text-align:center;
}

.principal
{
background:#E8F1FF;
padding:50px;
text-align:center;
}
.facilities
{
background:white;
padding:50px;
}

.facilities li
{
padding:8px;
}
.map
{
padding:40px;
text-align:center;
}
footer
{
background:#0A2A66;
color:white;
padding:25px;
text-align:center;
}
.facilities li:hover
{
color:#1E4DB7;
cursor:pointer;
}
.home-gallery
{
padding:60px;
text-align:center;
background:#ffffff;
}

.home-gallery h2
{
color:#0A2A66;
margin-bottom:30px;
}

.gallery-grid
{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.gallery-grid img
{
width:100%;
height:200px;
object-fit:cover;
border-radius:8px;
transition:transform 0.4s ease;
}

.gallery-grid img:hover
{
transform:scale(1.08);
}
.map
{
padding:60px;
background:#E8F1FF;
text-align:center;
}

.map h2
{
color:#0A2A66;
margin-bottom:20px;
}








